

:root{
    --colorOne: #141414;
    --colorTwo:#5c5c5c;
    --colorWhite: #e5e5e5;
}

body{
    background-color: var(--colorOne);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
   position: absolute;
   top: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 20px;
   z-index: 1;
   transition-timing-function: ease-in;
   transition:all 0.5s;
}

.nav-black{
    background-color: var(--colorOne);
}

.logo{
    margin-right: auto;
}

.netflix-logo{
    width: 130px;
    height: 50px; 
}

.row-poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row-posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 20px;
}

.row-poster:hover{
    transform: scale(1.08);
}

.row-posters::-webkit-scrollbar{
    display: none;
}

.row-posterLarge{
    max-height: 250px;
}

.row-posterLarge:hover{
    transform: scale(1.09);
}


.row h1{
    margin-left: 30px;
    color: var(--colorWhite);
    font-size: 25px;
}

.banner{
    background-image: url(https://images.hdqwalls.com/download/joker-imax-poster-43-1280x720.jpg);
    
    background-size: inherit;
    background-position: center;
    color: var(--colorWhite);
    object-fit: contain;
    height: 700px;
    margin-bottom: 20px;
}

.banner-container{
    padding-top: 140px;
    margin-left: 30px;
    height: 190px;
}

.banner-container .banner-title{
    
    font-size: 3rem;
}
.banner-container .banner-description{
    font-size: .8rem;
    font-weight: normal;
    width: 43rem;
    margin: 20px 0;
    max-width: 360px;
    height: 180px;
}


.banner button{
    cursor: pointer;
    color: var(--colorOne);
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 18px;
    padding:12px 30px ;
    border-radius: 0.2vw;
}

.banner button:hover{
    color: var(--colorWhite);
    background-color: gray;
    transition:  all 0.2s;
}

.banner-fade-bottom{
    margin-top: 390px;
    height: 7.6rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61));
}

.row{
    margin-top: 70px;
}

.heading-footer{
    color: white;
    padding: 0px 0px;
    margin: 0px auto;
    position: relative;
    width: 100%;
    max-width: 950px;
}


/* Footer */
.main-footer-container{
    padding: 70px 45px;
    background-color: black;
    margin: 0px -8px 10px -8px;
    position: relative;
    margin-bottom: 0;
    /* text-align: center; */
    color: #757575;
}

.footer-container{
    max-width: 1000px;
    margin: 0 auto;
}

.footer-content{
    margin: 0 auto;
    width: 90%;
}

.footer-heading{
    padding: 0;
    margin: 0 0 30px;
    font-size: 1em;
    color: #757575;
}
.footer-heading-anchor{
    text-decoration: none;
    color: #757575;
}
a:hover{
    text-decoration: underline;
}

.footer-list{
    padding: 0;
    font-size: 13px;
    text-decoration: none;
}

.footer-list-item{
    list-style: none;
    margin-left: 0;
    display: inline-block;
    box-sizing: border-box;
    padding:0;
    margin: 0 0 16px 0;
    min-width: 100px;
    width: 24%;
    padding-right: 12px;
    vertical-align: top;
}

.footer-list-anchor{
    color:#757575;
    text-decoration: none;
}

.footer-language-container{
    margin-top: 20px;
}


.final-footer{
    font-size: 13px;
    margin: 24px 0 0 0;
}


